body {
    background-color:rgb(161, 252, 222);
    text-align: center;
    font-family: 'Roboto', arial;
    margin: 0;
    padding: 0;
}



.nav_bar {
    background-color:#1F2937;
    color:#F9FAF8;
    display: flex;
    align-items: center;
    justify-content: right;
}

.nav_bar h1 {
    text-align: center;
    font-size: 40px;
    flex:1 0 auto;
}

.form {
    text-align: center;
    padding: 20px;
}

.error_message {
    text-align: center;
    padding: 10px;
    color: red;
}

#cityInput {
    border-radius: 5px;
    font-size: 20px;
    margin-right: 0;
    padding-right: 0;
    border: transparent
}

#searchBtn:hover {
    background-color: grey;
}

#searchBtn {
    border-radius: 5px;
    font-size: 18px;
    margin-left: 0;
    padding-left: 0;
    border-left: 2px solid #929292;
}



.current_weather {
    color:#F9FAF8;
    font-size: 20px;
    padding: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto ;
    background-color: #1F2937;
    width: 25rem;
    border-radius: 10px;
}

.current_weather > h3 {
    margin: 0;
    padding: 0;
}

.current_weather > h2 {
    margin: 0;
    padding: 5px;
}

.current_weather > p {
    margin: 0;
    padding: 5px;
}

.min_temp {
    color: lightgrey;
    font-size: 16px;
}


#current_weather_img {
    width: 10rem;
}


.forecasted_weather {
    color:#F9FAF8;
    font-size: 20px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.one_day_forecast {
    background-color: #1F2937;
    padding: 10px;
    width: 15rem;
    margin-right: 50px;
    border-radius: 10px;
}

.two_days_forecast {
    background-color: #1F2937;
    padding: 10px;
    width: 15rem;
    margin-left: 50px;
    border-radius: 10px;
}


.forecasted_weather  h3 {
    margin: 0;
    padding: 0;
}

.forecasted_weather  h2 {
    margin: 0;
    padding: 5px;
}

.forecasted_weather  p {
    margin: 0;
    padding: 5px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1F2937;
    padding-bottom: 1px;
    color: white;
    text-align: center;
}

